@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: #010101;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 76px;
    background: linear-gradient(45deg, #5C7AFF, #B7FDFE);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}

h2 {
    font-weight: 300;
    font-size: 45px;
}

.content {
    padding-left: 10%;
    margin-top: 15%;
}

svg {
    width: 760px;
    display: flex;
    position: relative;
    float: right;
    top: -500px;
    left: -3%;
    border: 0;
}

.content img {
    position: absolute;
    left: 55%;
    top: 13%;
    width: 510px;

}

.projects-h2 {
    position: absolute;
    top: 130%;
    left: 40%;
    font-size: 72px;
    font-weight: 700;
    background: linear-gradient(45deg, #5C7AFF, #B7FDFE);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
